fastapi>=0.95.0
uvicorn[standard]>=0.21.1
pydantic>=2.0.0
python-dotenv>=1.0.0
langchain>=0.0.267
langchain-openai>=0.0.1
chromadb>=0.4.6
mysql-connector-python>=8.0.33
asyncio>=3.4.3
websockets>=11.0.3
openai>=0.27.0
prometheus-fastapi-instrumentator
PyJWT>=2.6.0
python-multipart>=0.0.5
apscheduler
pytz
jamo==0.4.1
pipwin==0.5.2
pydub==0.25.1
ffmpeg